@import "./pretty-checkbox.min.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
​ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}
​ .rm {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-image: url(./logo/trash-alt-solid.svg);
  filter: invert(70%);
}
​ .done {
  text-decoration: line-through;
  color: grey;
}
.checkbox {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  border-radius: 25px;
}
.Left {
  border: 0;
  padding: 0;
  background-color: white;
}
